.card_post{
    @extend .bordure_card;
    margin-right: 5%;

    background-color: rgba(43,60,89,.37);

    width: 18%;


    padding-bottom: 9%;

    border-bottom-right-radius: 400px 400px;
    border-bottom-left-radius: 400px 400px;
}